[Desktop Entry]
Version=1.0
Type=Link
Name=learn-flexbox | 20 exercises to master CSS Flexbox by Wes Bos
Comment=
Icon=user-bookmarks
URL=https://eneax.github.io/learn-flexbox/
