[Desktop Entry]
Version=1.0
Type=Link
Name=Flexbox Froggy - A game for learning CSS flexbox
Comment=
Icon=user-bookmarks
URL=https://flexboxfroggy.com/
Name[en_US]=1- Flexbox Froggy - A game for learning CSS flexbox
