[Desktop Entry]
Version=1.0
Type=Link
Name=Test your skills: Flexbox - Learn web development | MDN
Comment=
Icon=user-bookmarks
URL=https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox_skills
Name[en_US]=2- Test your skills: Flexbox - Learn web development | MDN
